#icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #ffff;
}

@media screen and (max-width: 530px) {
  /* start nav */
  nav {
    background: #1e3a5f;
    width: 100%;
    height: 10vh;
    position: relative;
  }
  #icon {
    display: block;
    margin-right: 20px;
    margin-top: 15px;
    position: absolute;
  }

  #menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: 90%;
    margin-right: 50px;
    background: #1e3a5f;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX() 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  ul li {
    width: 80%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  li a:hover {
    height: 30%;
    font-size: 11px;
    color: #ffffff;
    font-weight: 900;
    border-bottom: 1px solid #ffffff;
  }
  #menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .text-right {
    display: none;
  }
  .button-left {
    display: none;

  }
  /*emd nav  */

  /* start header */
  header {
    background: linear-gradient(155deg, #2563eb, #1e3a5f);
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .box-right {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    margin-top: 40px;
  }
  .box-right h2 {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 20px;
  }
  .box-right span {
    width: 70%;
    height: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20%;
    color: #ffffff;
  }
  .box-right #right1 {
    width: 25%;
    margin-right: 20%;
    font-size: 12px;
  }
  .box-right #left1 {
    width: 25%;
    margin-right: 55%;
    font-size: 12px;
  }
  .box-left img {
    display: none;
  }
  .box-left .item-toleft {
    display: none;
  }
  /* end header */

  /* start cards */
  .titer-card {
    width: 70%;
  }
  .titer-card .one {
    font-size: 15px;
    font-weight: 900;
    color: #2f2fe4;
    width: 50%;
    margin: auto;
  }
  .titer-card .two {
    font-size: 12px;
    font-weight: 900;
    color: black;
    width: 100%;
  }
  .cards {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50%;
  }
  .cards .disen,
  .cards .tose,
  .cards .shop,
  .cards .secuses {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: 70%;
    margin-top: 5px;
  }
  .disen,
  .tose,
  .shop,
  .secuses span {
    font-size: 10px;
  }
  .cards p {
    width: 80%;
    height: 40%;
    margin: 5px auto;
    font-size: 12px;
    font-weight: 700;
  }

  /* end cards  */

  /* start project */
  .titer-project {
    width: 70%;
  }
  .project img {
    display: none;
  }
  .project {
    display: block;
    width: 80%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 50%;
  }

  .siteone,
  .sitetwo,
  .sitethree {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2563eb, #1e3a5f, #2563eb);
  }
  .project p {
    position: absolute;
    width: 80%;
    height: 40%;
    margin-top: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  p #namsite {
    width: 95%;
    height: 30%;
    font-size: 12px;
    font-weight: 800;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  p #namcar {
    width: 95%;
    height: 40%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 5px auto;
  }
  .button {
    display: none;
  }
  /* end  project*/

  /* start footer */
  .footer {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .fo-right {
    width: 100%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    border-left: 1px solid #ffffff;
  }
  .fo-right p {
    width: 90%;
  }
  .fo-left {
    display: none;
  }
  .fo-left #tel {
    position: absolute;
    margin-top: 5%;
    display: block;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
  }
}
